@use '../tokens/colors' as *;
@use '../tokens/typography' as *;

.features-section{
  padding: 64px 80px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.feature-block{
  display: flex;
  flex-direction: column;
  flex: 0 0 calc((100% - 64px) / 3);
  max-width: calc((100% - 64px) / 3);
  box-sizing: border-box;

  &__title{
    width: 100%;
    padding: 64px 32px 40px 32px;
    background: $gradient-pink;
    border-radius: 15px;
    font-size: $text-preset-3;
    line-height: $leading-preset-3;
    font-weight: $font-weight-preset-3;
    color: $white;
  }

  &__icon{
    position: absolute;
    top: 0;
    left: 32px;
    transform: translateY(-50%);
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px 32px 40px 32px;
    border-radius: 15px;
    border: 1px solid black;
    flex: 1;
    height: 100%;

    & h2{
      font-size: $text-preset-4;
      line-height: $leading-preset-4;
      font-weight: $font-weight-preset-4;
    }

    & span{
      color: $grey;
      font-size: $text-preset-5;
      line-height: $leading-preset-5;
      font-weight: $font-weight-preset-5;
    }

  }

  &__text{
    color: $pink-600;
    font-size: $text-preset-7;
    line-height: $leading-preset-7;
    font-weight: $font-weight-preset-7;
    margin-top: auto;
  }
}

.feature-container{
    position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 1024px) {

  .features-section{
    padding: 24px 44px;
  }

  .feature-block{
    flex: 0 0 calc((100% - 32px) / 2);
    max-width: calc((100% - 32px) / 2);

    &__title{
      flex: 1;
    }
  }
}

@media (max-width: 576px) {
  .features-section{
    gap: 32px;
    padding: 24px 20px;
  }
  .feature-block{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
