$font-primary: 'Plus Jakarta Sans', sans-serif;

$text-preset-1: 56px;
$leading-preset-1: 120%;
$font-weight-preset-1: 800;

$text-preset-2: 40px;
$leading-preset-2: 120%;
$font-weight-preset-2: 800;

$text-preset-3: 32px;
$leading-preset-3: 120%;
$font-weight-preset-3: 800;

$text-preset-4: 24px;
$leading-preset-4: 120%;
$font-weight-preset-4: 800;

$text-preset-5: 18px;
$leading-preset-5: 150%;
$font-weight-preset-5: 500;

$text-preset-6: 16px;
$leading-preset-6: 150%;
$font-weight-preset-6: 700;

$text-preset-7: 18px;
$leading-preset-7: 150%;
$font-weight-preset-7: 700;